body {
    font-family: sans-serif;
}

.card-container {
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.card-heading {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.card-body {
    margin-top: 10px;
    padding: 5px;
}

#slots-ui-container {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slots-ui-container button {
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#slots-ui {
    width: 90%;
    height: 85%;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}